#error {
    display: none; /* Скрываем модальное окно по умолчанию */
    background-color: rgba(233, 148, 148, 0.4);
    color: rgb(247, 8, 8);
}

.input-area {
    color: var(--dark-color);
    padding-left: 100px;
}

.userForm {
    padding-left: 100px;
}