<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Gotto Job Listing</title>

        <!-- CSS FILES -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;300;400;600;700&display=swap" rel="stylesheet">

        <link href="css/bootstrap.min.css" rel="stylesheet">

        <link href="css/bootstrap-icons.css" rel="stylesheet">

        <link href="css/owl.carousel.min.css" rel="stylesheet">

        <link href="css/owl.theme.default.min.css" rel="stylesheet">

        <link href="css/tooplate-gotto-job.css" rel="stylesheet">
        

    </head>
    
    <body class="job-listings-page" id="top">

        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center" href="index.html">
                    <img src="images/logo.png" class="img-fluid logo-image">

                    <div class="d-flex flex-column">
                        <strong class="logo-text">Workingcom</strong>
                        <small class="logo-slogan">Поиск работы онлайн</small>
                    </div>
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav align-items-center ms-lg-5">
                        <li class="nav-item">
                            <a class="nav-link active" href="index.html">Главная</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="job-listings.html">Список вакансий</a>
                        </li>
                        <li class="nav-item ms-lg-auto">
                            <a class="nav-link" href="#">Регистрация</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link custom-btn btn" href="#">Авторизация</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <main>

            <header class="site-header">
                <div class="section-overlay"></div>

                <div class="container">
                    <div class="row">
                        
                        <div class="col-lg-12 col-12 text-center">
                            <h1 class="text-white">Список вакансий</h1>

                        </div>

                    </div>
                </div>
            </header>

            <section class="section-padding pb-0 d-flex justify-content-center align-items-center">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 col-12">
                            <form class="custom-form hero-form" action="#" method="get" role="form">
                                <h3 class="text-white mb-3">Найдите работу мечты</h3>
                                
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon1"><i class="bi-person custom-icon"></i></span>

                                            <input type="text" name="job-title" id="job-title" class="form-control" placeholder="Название вакансии" required>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-12">
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon1"><i class="bi-geo-alt custom-icon"></i></span>

                                            <input type="text" name="job-location" id="job-location" class="form-control" placeholder="Местоположение" required>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon1"><i class="bi-cash custom-icon"></i></span>

                                            <select class="form-select form-control" name="job-salary" id="job-salary" aria-label="Default select example">
                                                <option selected>Зарплата:</option>
                                                <option value="1">50-100 тыс. руб.</option>
                                                <option value="1">100-200 тыс. руб.</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon1"><i class="bi-laptop custom-icon"></i></span>

                                            <select class="form-select form-control" name="job-remote" id="job-remote" aria-label="Default select example">
                                                <option selected>График работы</option>
                                                <option value="1">Полный день</option>
                                                <option value="2">Удаленная работа</option>
                                                <option value="2">Гибкий график</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-12">
                                        <button type="submit" class="form-control">
                                            Найти работу
                                        </button>
                                    </div>

                                    <div class="col-12">
                                        <div class="d-flex flex-wrap align-items-center mt-4 mt-lg-0">
                                            <span class="text-white mb-lg-0 mb-md-0 me-2">Популярные запросы:</span>

                                            <div>
                                                <a href="job-listings.html" class="badge">Веб-программист</a>

                                                <a href="job-listings.html" class="badge">Инженер по бурению</a>

                                                <a href="job-listings.html" class="badge">Системный инженер</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="col-lg-6 col-12">
                            <img src="images/4557388.png" class="hero-image img-fluid" alt="">
                        </div>

                    </div>
                </div>
            </section>


            <section class="job-section section-padding">
                <div class="container">
                    <div class="row align-items-center">

                        <div class="col-lg-6 col-12 mb-lg-4">
                            <h3>3 вакансии из 10</h3>
                        </div>

                        <div class="col-lg-4 col-12 d-flex align-items-center ms-auto mb-5 mb-lg-4">
                        </div>

                        <section class="job-section recent-jobs-section section-padding">
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="clearfix"></div>
                                    <div class="col-lg-4 col-md-6 col-12">
                                        <div class="job-thumb job-thumb-box">
                                            <div class="job-image-box-wrap">
            
                                                <div class="job-image-box-wrap-info d-flex align-items-center">
                                                    <p class="mb-0">
                                                        <a href="job-listings.html" class="badge">Фриланс</a>
                                                    </p>
                                                </div>
                                            </div>
            
                                            <div class="job-body">
                                                <h4 class="job-title">
                                                    <a href="job-details.html" class="job-title-link">Руководитель IT проектов</a>
                                                </h4>
            
                                                <div class="d-flex align-items-center">
                                                    <div class="job-image-wrap d-flex align-items-center bg-white shadow-lg mt-2 mb-4">
                                                        <img src="images/companyavatar/gazprom-logo.jpg" class="job-image me-3 img-fluid" alt="">
            
                                                        <p class="mb-0">Газпром</p>
                                                    </div>
            
                                                    <a href="#" class="bi-bookmark ms-auto me-2">
                                                    </a>
            
                                                    <a href="#" class="bi-heart">
                                                    </a>
                                                </div>
            
                                                <div class="d-flex align-items-center">
                                                    <p class="job-location">
                                                        <i class="custom-icon bi-geo-alt me-1"></i>
                                                        Красноярск, Россия
                                                    </p>
                                                </div>
            
                                                <div class="d-flex align-items-center border-top pt-3">
                                                    <p class="job-price mb-0">
                                                        <i class="custom-icon bi-cash me-1"></i>
                                                        от 200 000 руб.
                                                    </p>
            
                                                    <a href="job-details.html" class="custom-btn btn ms-auto">Откликнуться</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
            
                                </div>
                            </div>
                        </section>
                        <div class="col-lg-12 col-12">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center mt-5">
                                    <li class="page-item active" aria-current="page">
                                        <a class="page-link" href="#">1</a>
                                    </li>
                                    
                                    <li class="page-item">
                                        <a class="page-link" href="#">2</a>
                                    </li>
                                    
                                    <li class="page-item">
                                        <a class="page-link" href="#">3</a>
                                    </li>

                                    <li class="page-item">
                                        <a class="page-link" href="#">4</a>
                                    </li>

                                    <li class="page-item">
                                        <a class="page-link" href="#">5</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                    </div>
                </div>
            </section>
        </main>

        <footer class="site-footer">
            <div class="site-footer-bottom">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-4 col-12 d-flex align-items-center">
                            <p class="copyright-text">Copyright © Workingcom 2024</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- JAVASCRIPT FILES -->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/counter.js"></script>
        <script src="js/custom.js"></script>
        <script src="js/job-listing-scripts.js"></script>

    </body>
</html>