<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="auth.css">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Gotto Online Job Portal</title>

        <!-- CSS FILES -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;300;400;600;700&display=swap" rel="stylesheet">

        <link href="css/bootstrap.min.css" rel="stylesheet">

        <link href="css/bootstrap-icons.css" rel="stylesheet">

        <link href="css/owl.carousel.min.css" rel="stylesheet">

        <link href="css/owl.theme.default.min.css" rel="stylesheet">

        <link href="css/tooplate-gotto-job.css" rel="stylesheet">
        <link rel="stylesheet" href="profile.css">
    </head>
    
    <body id="top">
        <p id="username"></p>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center" href="index.html">
                    <img src="images/logo.png" class="img-fluid logo-image">

                    <div class="d-flex flex-column">
                        <strong class="logo-text">Workingcom</strong>
                        <small class="logo-slogan">Поиск работы онлайн</small>
                    </div>
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul id="nav-bar-list" class="navbar-nav align-items-center ms-lg-5">
                        <li class="nav-item">
                            <a class="nav-link active" href="index.html">Главная</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <main>
            <h2>Редактирование пользователя</h2>
            <form id="userForm" class="userForm" action="/update-user" method="put">

                <input type="hidden" name="id" value="123"> 

                <label class="input-area" for="username">Имя пользователя:</label><br>
                <input type="text" class="input-area-i" id="username" name="username" value="Имя пользователя"><br>

                <label class="input-area" for="first_name">Имя:</label><br>
                <input type="text" class="input-area-i" id="first_name" name="first_name" value="Имя"><br>

                <label class="input-area" for="last_name">Фамилия:</label><br>
                <input type="text" class="input-area-i" id="last_name" name="last_name" value="Фамилия"><br>

                <label class="input-area" for="email">Email:</label><br>
                <input type="email" class="input-area-i" id="email" name="email" value="example@example.com"><br>

                <label class="input-area" for="phone_number">Номер телефона:</label><br>
                <input class="input-area-i" type="text" id="phone_number" name="phone_number" value="+1234567890"><br>

                <label class="input-area" for="address">Адрес:</label><br>
                <input type="text" class="input-area-i" id="address" name="address" value="Адрес"><br>

                <label class="input-area" for="bio">Биография:</label><br>
                <textarea id="bio" class="input-area-i" name="bio">Биография</textarea><br>

                <label class="input-area" for="preferences">Предпочтения:</label><br>
                <textarea id="preferences" class="input-area-i" name="preferences"></textarea><br>

                <label for="bio" class="input-area">Пароль:</label><br>
                <textarea id="pass" class="input-area-i" name="pass"></textarea><br>
                
                <input id="changeProfile" type="submit" value="Сохранить изменения">

                <button id="deleteCookie" onclick="deleteJwt()">выйти из аккаунта</button>
            </form>
        </main>
        <footer class="site-footer">
            <div class="site-footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-12 d-flex align-items-center">
                            <p class="copyright-text">Copyright © Workingcom 2024</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- JAVASCRIPT FILES -->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/counter.js"></script>
        <script src="js/custom.js"></script>
        <script src="js/profileScript.js"></script>
        
    </body>
</html>